<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by AP. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="./img/IMG-20191130-WA0002.jpg">
        <!--Change the image later -->
    </div>

    {{>footer}}
</body>

</html>